<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="NLog.Targets.Chatwork"/>
  </extensions>
  <targets>
    <target name="cw" xsi:type="ChatworkTarget"
            Token="hogeToken" RoomId="roomIdToPost"
            Layout="[${logger}]${newline}${message}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="cw" />
  </rules>
</nlog>